.list-group-item{
    padding: 0 0 0 0 !important;
}

.product-item {
    margin: 1% -1% 1% -1%;
}

.product-title{
    color: #333;
    margin: auto;
}

.product-title p{
    color: #555;
    font-size: 13px;
}

.product-price {
    margin: auto;
    color: #555;
}

.product-price span {
    color: #333;
    font-size: 18px;
    border: none;
    width: 100px
}

.product-price del {
    color: #A7A7A7;
    margin-left: 20;
}