.galery{
    margin: 5% 10% 10% 10%;
}

.list-alternate a:hover{
    background-color: #e3e3e3;
}

.total-products{
    color: #777;
    font-size: 13px;
    width: 20%;
    text-align: center;
    border-bottom: 4px solid rgb(223, 190, 127) !important;
    margin: 1% 0 3% 1%;
}

